## **Put your name and student ID here**

# **Pandas**

*The `pandas` library provides high-performance, easy-to-use data structures and data analysis tools. The main data structure is the `DataFrame`, which you can think of as an in-memory 2D table (like a spreadsheet, with column names and row labels). Many features available in Excel are available programmatically, such as creating pivot tables, computing columns based on other columns, plotting graphs, etc. You can also group rows by column value, or join tables much like in SQL. Pandas is also great at handling time series.*

## Operator
<a href="https://docs.python.org/3/reference/expressions.html" target="_blank" style="font-weight:bold;font-size:20px;">Python 3 Operator Precedence Table (Ch.6.17)</a>
<table >
<thead>
<tr ><th ><p>Operator</p></th>
<th ><p>Description</p></th>
</tr>
</thead>
<tbody>
<tr ><td><p><code ><span >(expressions...)</span></code>,</p>
<p><code ><span >[expressions...]</span></code>,
<code ><span >{key:</span> <span >value...}</span></code>,
<code ><span >{expressions...}</span></code></p>
</td>
<td><p>Binding or parenthesized
expression,
list display,
dictionary display,
set display</p></td>
</tr>
<tr ><td><p><code ><span >x[index]</span></code>, <code ><span >x[index:index]</span></code>,
<code ><span >x(arguments...)</span></code>, <code ><span >x.attribute</span></code></p></td>
<td><p>Subscription, slicing,
call, attribute reference</p></td>
</tr>
<tr ><td><p><a  href="#await"><code ><span >await</span> <span >x</span></code></a></p></td>
<td><p>Await expression</p></td>
</tr>
<tr ><td><p><code ><span >**</span></code></p></td>
<td><p>Exponentiation <a  href="#id21" id="id15">5</a></p></td>
</tr>
<tr ><td><p><code ><span >+x</span></code>, <code ><span >-x</span></code>, <code ><span >~x</span></code></p></td>
<td><p>Positive, negative, bitwise NOT</p></td>
</tr>
<tr ><td><p><code ><span >*</span></code>, <code ><span >@</span></code>, <code ><span >/</span></code>, <code ><span >//</span></code>, <code ><span >%</span></code></p></td>
<td><p>Multiplication, matrix
multiplication, division, floor
division, remainder <a  href="#id22" id="id16">6</a></p></td>
</tr>
<tr ><td><p><code ><span >+</span></code>, <code ><span >-</span></code></p></td>
<td><p>Addition and subtraction</p></td>
</tr>
<tr ><td><p><code ><span >&lt;&lt;</span></code>, <code ><span >&gt;&gt;</span></code></p></td>
<td><p>Shifts</p></td>
</tr>
<tr ><td><p><code ><span >&amp;</span></code></p></td>
<td><p>Bitwise AND</p></td>
</tr>
<tr ><td><p><code ><span >^</span></code></p></td>
<td><p>Bitwise XOR</p></td>
</tr>
<tr ><td><p><code ><span >|</span></code></p></td>
<td><p>Bitwise OR</p></td>
</tr>
<tr ><td><p><a  href="#in"><code ><span >in</span></code></a>, <a  href="#not-in"><code ><span >not</span> <span >in</span></code></a>,
<a  href="#is"><code ><span >is</span></code></a>, <a  href="#is-not"><code ><span >is</span> <span >not</span></code></a>, <code ><span >&lt;</span></code>,
<code ><span >&lt;=</span></code>, <code ><span >&gt;</span></code>, <code ><span >&gt;=</span></code>, <code ><span >!=</span></code>, <code ><span >==</span></code></p></td>
<td><p>Comparisons, including membership
tests and identity tests</p></td>
</tr>
<tr ><td><p><a  href="#not"><code ><span >not</span> <span >x</span></code></a></p></td>
<td><p>Boolean NOT</p></td>
</tr>
<tr ><td><p><a  href="#and"><code ><span >and</span></code></a></p></td>
<td><p>Boolean AND</p></td>
</tr>
<tr ><td><p><a  href="#or"><code ><span >or</span></code></a></p></td>
<td><p>Boolean OR</p></td>
</tr>
<tr ><td><p><a  href="#if-expr"><code ><span >if</span></code></a> â€“ <code ><span >else</span></code></p></td>
<td><p>Conditional expression</p></td>
</tr>
<tr ><td><p><a  href="#lambda"><code ><span >lambda</span></code></a></p></td>
<td><p>Lambda expression</p></td>
</tr>
<tr ><td><p><code ><span >:=</span></code></p></td>
<td><p>Assignment expression</p></td>
</tr>
</tbody>
</table>

## Overview

In [ ]:
# us-cities-top-1k.csv
# Customers.csv
# Inventory.csv
# Sales.csv

### sort_values()

### indexing & filtering

### Groupby()

### Operator ~

### Series value_counts() function

### apply() function

regular expression search() function
<a href="https://docs.python.org/3/library/re.html#re.search">https://docs.python.org/3/library/re.html#re.search</a>

## Operator
<a href="https://docs.python.org/3/reference/expressions.html" target="_blank" style="font-weight:bold;font-size:20px;">Python 3 Operator Precedence Table (Ch.6.17)</a>
<table >
<thead>
<tr ><th ><p>Operator</p></th>
<th ><p>Description</p></th>
</tr>
</thead>
<tbody>
<tr ><td><p><code ><span >(expressions...)</span></code>,</p>
<p><code ><span >[expressions...]</span></code>,
<code ><span >{key:</span> <span >value...}</span></code>,
<code ><span >{expressions...}</span></code></p>
</td>
<td><p>Binding or parenthesized
expression,
list display,
dictionary display,
set display</p></td>
</tr>
<tr ><td><p><code ><span >x[index]</span></code>, <code ><span >x[index:index]</span></code>,
<code ><span >x(arguments...)</span></code>, <code ><span >x.attribute</span></code></p></td>
<td><p>Subscription, slicing,
call, attribute reference</p></td>
</tr>
<tr ><td><p><a  href="#await"><code ><span >await</span> <span >x</span></code></a></p></td>
<td><p>Await expression</p></td>
</tr>
<tr ><td><p><code ><span >**</span></code></p></td>
<td><p>Exponentiation <a  href="#id21" id="id15">5</a></p></td>
</tr>
<tr ><td><p><code ><span >+x</span></code>, <code ><span >-x</span></code>, <code ><span >~x</span></code></p></td>
<td><p>Positive, negative, bitwise NOT</p></td>
</tr>
<tr ><td><p><code ><span >*</span></code>, <code ><span >@</span></code>, <code ><span >/</span></code>, <code ><span >//</span></code>, <code ><span >%</span></code></p></td>
<td><p>Multiplication, matrix
multiplication, division, floor
division, remainder <a  href="#id22" id="id16">6</a></p></td>
</tr>
<tr ><td><p><code ><span >+</span></code>, <code ><span >-</span></code></p></td>
<td><p>Addition and subtraction</p></td>
</tr>
<tr ><td><p><code ><span >&lt;&lt;</span></code>, <code ><span >&gt;&gt;</span></code></p></td>
<td><p>Shifts</p></td>
</tr>
<tr ><td><p><code ><span >&amp;</span></code></p></td>
<td><p>Bitwise AND</p></td>
</tr>
<tr ><td><p><code ><span >^</span></code></p></td>
<td><p>Bitwise XOR</p></td>
</tr>
<tr ><td><p><code ><span >|</span></code></p></td>
<td><p>Bitwise OR</p></td>
</tr>
<tr ><td><p><a  href="#in"><code ><span >in</span></code></a>, <a  href="#not-in"><code ><span >not</span> <span >in</span></code></a>,
<a  href="#is"><code ><span >is</span></code></a>, <a  href="#is-not"><code ><span >is</span> <span >not</span></code></a>, <code ><span >&lt;</span></code>,
<code ><span >&lt;=</span></code>, <code ><span >&gt;</span></code>, <code ><span >&gt;=</span></code>, <code ><span >!=</span></code>, <code ><span >==</span></code></p></td>
<td><p>Comparisons, including membership
tests and identity tests</p></td>
</tr>
<tr ><td><p><a  href="#not"><code ><span >not</span> <span >x</span></code></a></p></td>
<td><p>Boolean NOT</p></td>
</tr>
<tr ><td><p><a  href="#and"><code ><span >and</span></code></a></p></td>
<td><p>Boolean AND</p></td>
</tr>
<tr ><td><p><a  href="#or"><code ><span >or</span></code></a></p></td>
<td><p>Boolean OR</p></td>
</tr>
<tr ><td><p><a  href="#if-expr"><code ><span >if</span></code></a> â€“ <code ><span >else</span></code></p></td>
<td><p>Conditional expression</p></td>
</tr>
<tr ><td><p><a  href="#lambda"><code ><span >lambda</span></code></a></p></td>
<td><p>Lambda expression</p></td>
</tr>
<tr ><td><p><code ><span >:=</span></code></p></td>
<td><p>Assignment expression</p></td>
</tr>
</tbody>
</table>

### add one row
df.loc["index"]=["name","n",123,0]

### delete row(s)
df.drop(["index1","index2"],axis=0)

# Setup

First, let's import `pandas`. People usually import it as `pd`:

# `Series` objects
The `pandas` library contains the following useful data structures:
* `Series` objects, that we will discuss now. A `Series` object is 1D array, similar to a column in a spreadsheet (with a column name and row labels).
* `DataFrame` objects. This is a 2D table, similar to a spreadsheet (with column names and row labels).
* `Panel` objects. You can see a `Panel` as a dictionary of `DataFrame`s. These are less used, so we will not discuss them here.

## Creating a `Series`
Let's start by creating our first `Series` object!
s=pd.Series(data=[23,34,56,],index=["aiden","tom","kelly"],name="age")

## Similar to a 1D `ndarray`
`Series` objects behave much like one-dimensional NumPy `ndarray`s, and you can often pass them as parameters to NumPy functions:

Arithmetic operations on `Series` are also possible, and they apply *elementwise*, just like for `ndarray`s:

Similar to NumPy, if you add a single number to a `Series`, that number is added to all items in the `Series`. This is called * broadcasting*:

The same is true for all binary operations such as `*` or `/`, and even conditional operations:

## Index labels
Each item in a `Series` object has a unique identifier called the *index label*. By default, it is simply the rank of the item in the `Series` (starting from `0`) but you can also set the index labels manually:

You can then use the `Series` just like a `dict`:

You can still access the items by integer location, like in a regular array:

To make it clear when you are accessing by label or by integer location, it is recommended to always use the `loc` attribute when accessing by label, and the `iloc` attribute when accessing by integer location:

Slicing a `Series` also slices the index labels:

This can lead to unexpected results when using the default numeric labels, so be careful:

Oh, look! The first element has index label `2`. The element with index label `0` is absent from the slice:

But remember that you can access elements by integer location using the `iloc` attribute. This illustrates another reason why it's always better to use `loc` and `iloc` to access `Series` objects:

## Init from `dict`
You can create a `Series` object from a `dict`. The keys will be used as index labels:

You can control which elements you want to include in the `Series` and in what order by explicitly specifying the desired `index`:

## Automatic alignment
When an operation involves multiple `Series` objects, `pandas` automatically aligns items by matching index labels.

The resulting `Series` contains the union of index labels from `s2` and `s3`. Since `"colin"` is missing from `s2` and `"charles"` is missing from `s3`, these items have a `NaN` result value (i.e. Not-a-Number means *missing*).

Automatic alignment is very handy when working with data that may come from various sources with varying structure and missing items. But if you forget to set the right index labels, you can have surprising results:

Pandas could not align the `Series`, since their labels do not match at all, hence the full `NaN` result.

## Init with a scalar
You can also initialize a `Series` object using a scalar and a list of index labels: all items will be set to the scalar.

## `Series` name
A `Series` can have a `name`:

# `DataFrame` objects
A DataFrame object represents a spreadsheet, with cell values, column names and row index labels. You can define expressions to compute columns based on other columns, create pivot-tables, group rows, draw graphs, etc. You can see `DataFrame`s as dictionaries of `Series`.

## Creating a `DataFrame`
You can create a DataFrame by passing a dictionary of `Series` objects:

In [1]:
import pandas as pd
people_dict = {
    "weight": pd.Series([68, 83, 112], index=["alice", "bob", "charles"]),
    "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
    "children": pd.Series([0, 3], index=["charles", "bob"]),
    "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"]),
    "grade":pd.Series(data=[96.6,86.6,76.6],index=["bob", "alice", "charles"],name="g")
}
people = pd.DataFrame(people_dict)
people

         weight  birthyear  children    hobby  grade
alice        68       1985       NaN   Biking   86.6
bob          83       1984       3.0  Dancing   96.6
charles     112       1992       0.0      NaN   76.6

A few things to note:
* the `Series` were automatically aligned based on their index,
* missing values are represented as `NaN`,
* `Series` names are ignored (the name `"year"` was dropped),
* `DataFrame`s are displayed nicely in Jupyter notebooks, woohoo!

You can access columns pretty much as you would expect. They are returned as `Series` objects:

You can also get multiple columns at once:

If you pass a list of columns and/or index row labels to the `DataFrame` constructor, it will guarantee that these columns and/or rows will exist, in that order, and no other column/row will exist. For example:

Another convenient way to create a `DataFrame` is to pass all the values to the constructor as an `ndarray`, or a list of lists, and specify the column names and row index labels separately:

Instead of an `ndarray`, you can also pass a `DataFrame` object:

It is also possible to create a `DataFrame` with a dictionary (or list) of dictionaries (or lists):

## Transposing
You can swap columns and indices using the `T` attribute:

## Most methods return modified copies
As you may have noticed, the `stack()` and `unstack()` methods do not modify the object they are called on. Instead, they work on a copy and return that copy. This is true of most methods in pandas.

## Accessing rows
Let's go back to the `people` `DataFrame`:

The `loc` attribute lets you access rows instead of columns. The result is a `Series` object in which the `DataFrame`'s column names are mapped to row index labels:

You can also access rows by integer location using the `iloc` attribute:

You can also get a slice of rows, and this returns a `DataFrame` object:

Finally, you can pass a boolean array to get the matching rows:

This is most useful when combined with boolean expressions:

## Adding and removing columns
You can generally treat `DataFrame` objects like dictionaries of `Series`, so the following works fine:

When you add a new column, it must have the same number of rows. Missing rows are filled with NaN, and extra rows are ignored:

When adding a new column, it is added at the end (on the right) by default. You can also insert a column anywhere else using the `insert()` method:

## Assigning new columns
You can also create new columns by calling the `assign()` method. Note that this returns a new `DataFrame` object, the original is not modified:

Note that you cannot access columns created within the same assignment:

The solution is to split this assignment in two consecutive assignments:

Having to create a temporary variable `d6` is not very convenient. You may want to just chain the assignment calls, but it does not work because the `people` object is not actually modified by the first assignment:

But fear not, there is a simple solution. You can pass a function to the `assign()` method (typically a `lambda` function), and this function will be called with the `DataFrame` as a parameter:

Problem solved!

## Evaluating an expression
A great feature supported by pandas is expression evaluation. It relies on the `numexpr` library which must be installed.

Assignment expressions are also supported. Let's set `inplace=True` to directly modify the `DataFrame` rather than getting a modified copy:

You can use a local or global variable in an expression by prefixing it with `'@'`:

## Querying a `DataFrame`
The `query()` method lets you filter a `DataFrame` based on a query expression:

## Sorting a `DataFrame`
You can sort a `DataFrame` by calling its `sort_index` method. By default, it sorts the rows by their index label, in ascending order, but let's reverse the order:

Note that `sort_index` returned a sorted *copy* of the `DataFrame`. To modify `people` directly, we can set the `inplace` argument to `True`. Also, we can sort the columns instead of the rows by setting `axis=1`:

To sort the `DataFrame` by the values instead of the labels, we can use `sort_values` and specify the column to sort by:

## Operations on `DataFrame`s
Although `DataFrame`s do not try to mimic NumPy arrays, there are a few similarities. Let's create a `DataFrame` to demonstrate this:

In [2]:
import pandas as pd
import numpy as np
grades_array = np.array([[8, 8, 9], [10, 9, 9], [4, 8, 2], [9, 10, 10]])
grades = pd.DataFrame(grades_array, columns=["sep", "oct", "nov"], index=["alice", "bob", "charles", "darwin"])
grades

         sep  oct  nov
alice      8    8    9
bob       10    9    9
charles    4    8    2
darwin     9   10   10

You can apply NumPy mathematical functions on a `DataFrame`: the function is applied to all values:

Similarly, adding a single value to a `DataFrame` will add that value to all elements in the `DataFrame`. This is called *broadcasting*:

Of course, the same is true for all other binary operations, including arithmetic (`*`,`/`,`**`...) and conditional (`>`, `==`...) operations:

Aggregation operations, such as computing the `max`, the `sum` or the `mean` of a `DataFrame`, apply to each column, and you get back a `Series` object:

The `all` method is also an aggregation operation: it checks whether all values are `True` or not. Let's see during which months all students got a grade greater than `5`:

Most of these functions take an optional `axis` parameter which lets you specify along which axis of the `DataFrame` you want the operation executed. The default is `axis=0`, meaning that the operation is executed vertically (on each column). You can set `axis=1` to execute the operation horizontally (on each row). For example, let's find out which students had all grades greater than `5`:

The `any` method returns `True` if any value is True. Let's see who got at least one grade 10:

If you add a `Series` object to a `DataFrame` (or execute any other binary operation), pandas attempts to broadcast the operation to all *rows* in the `DataFrame`. This only works if the `Series` has the same size as the `DataFrame`s rows. For example, let's subtract the `mean` of the `DataFrame` (a `Series` object) from the `DataFrame`:

We subtracted `7.75` from all September grades, `8.75` from October grades and `7.50` from November grades. It is equivalent to subtracting this `DataFrame`:

If you want to subtract the global mean from every grade, here is one way to do it:

## Automatic alignment
Similar to `Series`, when operating on multiple `DataFrame`s, pandas automatically aligns them by row index label, but also by column names. Let's create a `DataFrame` with bonus points for each person from October to December:

In [3]:
import pandas as pd
import numpy as np
grades_array = np.array([[8, 8, 9], [10, 9, 9], [4, 8, 2], [9, 10, 10]])
grades = pd.DataFrame(grades_array, columns=["sep", "oct", "nov"], index=["alice", "bob", "charles", "darwin"])
grades

         sep  oct  nov
alice      8    8    9
bob       10    9    9
charles    4    8    2
darwin     9   10   10

In [4]:
bonus_array = np.array([[0, np.nan, 2], [np.nan, 1, 0], [0, 1, 0], [3, 3, 0]])
bonus_points = pd.DataFrame(bonus_array, columns=["oct", "nov", "dec"], index=["bob", "colin", "darwin", "charles"])
bonus_points

         oct  nov  dec
bob      0.0  NaN  2.0
colin    NaN  1.0  0.0
darwin   0.0  1.0  0.0
charles  3.0  3.0  0.0

Looks like the addition worked in some cases but way too many elements are now empty. That's because when aligning the `DataFrame`s, some columns and rows were only present on one side, and thus they were considered missing on the other side (`NaN`). Then adding `NaN` to a number results in `NaN`, hence the result.

## Handling missing data
Dealing with missing data is a frequent task when working with real life data. Pandas offers a few tools to handle missing data.
 
Let's try to fix the problem above. For example, we can decide that missing data should result in a zero, instead of `NaN`. We can replace all `NaN` values by any value using the `fillna()` method:

In [5]:
import pandas as pd
import numpy as np
grades_array = np.array([[8, 8, 9], [10, 9, 9], [4, 8, 2], [9, 10, 10]])
grades = pd.DataFrame(grades_array, columns=["sep", "oct", "nov"], index=["alice", "bob", "charles", "darwin"])
grades

         sep  oct  nov
alice      8    8    9
bob       10    9    9
charles    4    8    2
darwin     9   10   10

In [6]:
bonus_array = np.array([[0, np.nan, 2], [np.nan, 1, 0], [0, 1, 0], [3, 3, 0]])
bonus_points = pd.DataFrame(bonus_array, columns=["oct", "nov", "dec"], index=["bob", "colin", "darwin", "charles"])
bonus_points

         oct  nov  dec
bob      0.0  NaN  2.0
colin    NaN  1.0  0.0
darwin   0.0  1.0  0.0
charles  3.0  3.0  0.0

In [7]:
m_df=grades+bonus_points
m_df

         dec   nov   oct  sep
alice    NaN   NaN   NaN  NaN
bob      NaN   NaN   9.0  NaN
charles  NaN   5.0  11.0  NaN
colin    NaN   NaN   NaN  NaN
darwin   NaN  11.0  10.0  NaN

It's a bit unfair that we're setting grades to zero in September, though. Perhaps we should decide that missing grades are missing grades, but missing bonus points should be replaced by zeros:

That's much better: although we made up some data, we have not been too unfair.

Another way to handle missing data is to interpolate. Let's look at the `bonus_points` `DataFrame` again:

Now let's call the `interpolate` method. By default, it interpolates vertically (`axis=0`), so let's tell it to interpolate horizontally (`axis=1`).

Bob had 0 bonus points in October, and 2 in December. When we interpolate for November, we get the mean: 1 bonus point. Colin had 1 bonus point in November, but we do not know how many bonus points he had in September, so we cannot interpolate, this is why there is still a missing value in October after interpolation. To fix this, we can set the September bonus points to 0 before interpolation.

Great, now we have reasonable bonus points everywhere. Let's find out the final grades:

It is slightly annoying that the September column ends up on the right. This is because the `DataFrame`s we are adding do not have the exact same columns (the `grades` `DataFrame` is missing the `"dec"` column), so to make things predictable, pandas orders the final columns alphabetically. To fix this, we can simply add the missing column before adding:

There's not much we can do about December and Colin: it's bad enough that we are making up bonus points, but we can't reasonably make up grades (well, I guess some teachers probably do). So let's call the `dropna()` method to get rid of rows that are full of `NaN`s:

Now let's remove columns that are full of `NaN`s by setting the `axis` argument to `1`:

## Aggregating with `groupby`
Similar to the SQL language, pandas allows grouping your data into groups to run calculations over each group.

First, let's add some extra data about each person so we can group them, and let's go back to the `final_grades` `DataFrame` so we can see how `NaN` values are handled:

Now let's group data in this `DataFrame` by hobby:

We are ready to compute the average grade per hobby:

That was easy! Note that the `NaN` values have simply been skipped when computing the means.

## Overview functions
When dealing with large `DataFrames`, it is useful to get a quick overview of its content. Pandas offers a few functions for this. First, let's create a large `DataFrame` with a mix of numeric values, missing values and text values. Notice how Jupyter displays only the corners of the `DataFrame`:

The `head()` method returns the top 5 rows:

Of course, there's also a `tail()` function to view the bottom 5 rows. You can pass the number of rows you want:

The `info()` method prints out a summary of each column's contents:

Finally, the `describe()` method gives a nice overview of the main aggregated values over each column:
* `count`: number of non-null (not NaN) values
* `mean`: mean of non-null values
* `std`: [standard deviation](https://en.wikipedia.org/wiki/Standard_deviation) of non-null values
* `min`: minimum of non-null values
* `25%`, `50%`, `75%`: 25th, 50th and 75th [percentile](https://en.wikipedia.org/wiki/Percentile) of non-null values
* `max`: maximum of non-null values

# Saving & loading
Pandas can save `DataFrame`s to various backends, including file formats such as CSV, Excel, JSON, HTML and HDF5, or to a SQL database. Let's create a `DataFrame` to demonstrate this:

In [8]:
import numpy as np
import pandas as pd
my_df = pd.DataFrame(
    data=[["Biking", 68.5, 1985, np.nan], ["Dancing", 83.1, 1984, 3]],
    columns=["hobby", "weight", "birthyear", "children"],
    index=["alice", "bob"]
)
my_df

         hobby  weight  birthyear  children
alice   Biking    68.5       1985       NaN
bob    Dancing    83.1       1984       3.0

## Saving
Let's save it to CSV, HTML and JSON:
my_df.to_csv("my_df.csv")
my_df.to_html("my_df.html")
my_df.to_json("my_df.json")

## Loading
Now let's load our CSV file back into a `DataFrame`:
my_df_loaded = pd.read_csv("my_df.csv", index_col=0)

As you might guess, there are similar `read_json`, `read_html`, `read_excel` functions as well.  We can also read data straight from the Internet. For example, let's load the top 1,000 U.S. cities:

There are more options available, in particular regarding datetime format. Check out the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) for more details.

# Combining `DataFrame`s

## SQL-like joins
One powerful feature of pandas is its ability to perform SQL-like joins on `DataFrame`s. Various types of joins are supported: inner joins, left/right outer joins and full joins. To illustrate this, let's start by creating a couple of simple `DataFrame`s:

In [9]:
city_loc = pd.DataFrame(
    [
        ["CA", "San Francisco", 37.781334, -122.416728],
        ["NY", "New York", 40.705649, -74.008344],
        ["FL", "Miami", 25.791100, -80.320733],
        ["OH", "Cleveland", 41.473508, -81.739791],
        ["UT", "Salt Lake City", 40.755851, -111.896657]
    ], columns=["state", "city", "lat", "lng"])
city_loc

  state            city        lat         lng
0    CA   San Francisco  37.781334 -122.416728
1    NY        New York  40.705649  -74.008344
2    FL           Miami  25.791100  -80.320733
3    OH       Cleveland  41.473508  -81.739791
4    UT  Salt Lake City  40.755851 -111.896657

In [10]:
city_pop = pd.DataFrame(
    [
        [808976, "San Francisco", "California"],
        [8363710, "New York", "New-York"],
        [413201, "Miami", "Florida"],
        [2242193, "Houston", "Texas"]
    ], index=[3,4,5,6], columns=["population", "city", "state"])
city_pop

   population           city       state
3      808976  San Francisco  California
4     8363710       New York    New-York
5      413201          Miami     Florida
6     2242193        Houston       Texas

Now let's join these `DataFrame`s using the `merge()` function:

Note that both `DataFrame`s have a column named `state`, so in the result they got renamed to `state_x` and `state_y`.

Also, note that Cleveland, Salt Lake City and Houston were dropped because they don't exist in *both* `DataFrame`s. This is the equivalent of a SQL `INNER JOIN`. If you want a `FULL OUTER JOIN`, where no city gets dropped and `NaN` values are added, you must specify `how="outer"`:

Of course, `LEFT OUTER JOIN` is also available by setting `how="left"`: only the cities present in the left `DataFrame` end up in the result. Similarly, with `how="right"` only cities in the right `DataFrame` appear in the result. For example:

If the key to join on is actually in one (or both) `DataFrame`'s index, you must use `left_index=True` and/or `right_index=True`. If the key column names differ, you must use `left_on` and `right_on`. For example:

## Concatenation
Rather than joining `DataFrame`s, we may just want to concatenate them. That's what `concat()` is for:

In [11]:
city_pop = pd.DataFrame(
    [
        [808976, "San Francisco", "California"],
        [8363710, "New York", "New-York"],
        [413201, "Miami", "Florida"],
        [2242193, "Houston", "Texas"]
    ], index=[3,4,5,6], columns=["population", "city", "state"])
city_pop

   population           city       state
3      808976  San Francisco  California
4     8363710       New York    New-York
5      413201          Miami     Florida
6     2242193        Houston       Texas

In [12]:
city_loc = pd.DataFrame(
    [
        ["CA", "San Francisco", 37.781334, -122.416728],
        ["NY", "New York", 40.705649, -74.008344],
        ["FL", "Miami", 25.791100, -80.320733],
        ["OH", "Cleveland", 41.473508, -81.739791],
        ["UT", "Salt Lake City", 40.755851, -111.896657]
    ], columns=["state", "city", "lat", "lng"])
city_loc

  state            city        lat         lng
0    CA   San Francisco  37.781334 -122.416728
1    NY        New York  40.705649  -74.008344
2    FL           Miami  25.791100  -80.320733
3    OH       Cleveland  41.473508  -81.739791
4    UT  Salt Lake City  40.755851 -111.896657

Note that this operation aligned the data horizontally (by columns) but not vertically (by rows). In this example, we end up with multiple rows having the same index (e.g. 3). Pandas handles this rather gracefully:

Or you can tell pandas to just ignore the index:

Notice that when a column does not exist in a `DataFrame`, it acts as if it was filled with `NaN` values. If we set `join="inner"`, then only columns that exist in *both* `DataFrame`s are returned:

You can concatenate `DataFrame`s horizontally instead of vertically by setting `axis=1`:

In this case it really does not make much sense because the indices do not align well (e.g. Cleveland and San Francisco end up on the same row, because they shared the index label `3`). So let's reindex the `DataFrame`s by city name before concatenating:

This looks a lot like a `FULL OUTER JOIN`, except that the `state` columns were not renamed to `state_x` and `state_y`, and the `city` column is now the index.