Grading Ruberic: 20 points possible.


**Python library - Pandas (20 points)**

- Question 1: Creating DataFrames  (2 points)
- Question 2: Reading Data (2 points)
- Question 3: Indexing and Selecting Data (2 points)
- Question 4: Filtering Data (2 points)
- Question 5: Data Manipulation (2 points)
- Question 6: Handling Missing Data (2 points)
- Question 7: Aggregation and Grouping (2 points)
- Question 8: Merging and Joining (2 points)
- Question 9: Data Sorting (2 points)
- Question 10: Exporting Data (2 points)

# Python library - Pandas

**Introducing Pandas DataFrames**

Pandas is a powerful Python library for data manipulation and analysis. One of the key features is the DataFrame, a two-dimensional, size-mutable tabular data structure with labeled axes (rows and columns). We can create DataFrames from various data sources such as dictionaries, lists, CSV files, and SQL databases.

We'll go through a general set of steps serving as best practices on preparing your data for analysis--from importing, reading, cleaning, sorting, and mining to exporting.



1. Creating DataFrames: How to create DataFrames from dictionaries, lists, and CSV files.
2. Reading Data: How to read CSV files into DataFrames.
3. Indexing and Selecting Data: Techniques for selecting single and multiple columns and rows using .loc and .iloc.
4. Filtering Data: Methods to filter rows based on conditions.
5. Data Manipulation: Adding, removing, and renaming columns.
6. Handling Missing Data: Identifying and handling missing values.
7. Aggregation and Grouping: Grouping data and calculating summary statistics.
8. Merging and Joining: Merging DataFrames based on common columns.
9. Data Sorting: Sorting DataFrames by columns.
10. Exporting Data: Saving DataFrames to CSV files.

In [ ]:
# This is just an example of creating a DataFrame from dictionary.
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Heather', 'Joe', 'Charlie'], 'Age': [25, 30, 28]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0  Heather   25
1      Joe   30
2  Charlie   28

Question 1: Creating DataFrames

Task: Create a DataFrame from a dictionary. The dataframe should look like the following:      

|   Name   | Age |    City     |
|:--------:|:---:|:-----------:|
|  Alice   |  25 |  New York   |
|   Bob    |  30 | Los Angeles |
| Charlie  |  35 |   Chicago   |

In [ ]:
# Write a code to create a DataFrame

import pandas as pd

# Create a dictionary with the data
data = {

}

# Convert the dictionary into a dataframe named df


# Print the dataframe

In [ ]:
# Mount your drive

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Change current directory
%cd "path of the new directory"

In [ ]:
# Verify the current directory
%pwd

In [ ]:

# Save the dataframe into a data.csv file in your working directory. Make sure you have data.csv file in your colab drive.
df.to_csv('--------', index=False)

Question 2: Reading Data

Task: Import a CSV file into a DataFrame from google.colab import drive. I am assuming that you have data.csv file in your colab drive.

In [ ]:
# Importing/reading your CSV file
df = pd.read_csv('-----------')
print(df)

Question 3: Indexing and Selecting Data

Task 1: Select a single column from a DataFrame.

In [ ]:
# (0.5 points) Select the 'Name' column
names = '-----------'
print(names)

Task 2: Select multiple columns from a DataFrame.

In [ ]:
# (0.5 points) Select 'Name' and 'Age' columns
subset = '------------'
print(subset)

Task 3: Select rows from a DataFrame using .loc and .iloc.

In [ ]:
# (0.5 points) Your code using .loc. Print the 2nd row.


# (0.5 points) Your code use .iloc. Print the first row.

Question 4: Filtering Data

Task: Filter rows in a DataFrame based on a condition (e.g., select rows where a column's value is greater than a specific number).

In [ ]:
# Filter rows where 'Age' is greater than 30

Question 5: Data Manipulation

Task 1: Add a new column to a DataFrame.

In [ ]:
# (0.5 points) Add a new column 'Salary'column. Provide salary in US dollars.

Task 2: Remove a column from a DataFrame.

In [ ]:
# (0.5 points) Remove the 'City' column

Task 3: Rename columns in a DataFrame.

In [ ]:
# (0.5 points) Rename the 'Salary' column to 'Monthly Salary'


# Create one row with all missing values.
import numpy as np
missing_row = pd.Series([np.nan, np.nan,np.nan,np.nan], index = df.columns)

# (0.5 points) Add the missing row to the DataFrame

# Display the updated DataFrame
print(df)

Question 6: Handling Missing Data

Task 1: Identify and handle missing values in a DataFrame.

In [ ]:
# (1 point) Check for missing values. Get the total count of missing values in each variable.

Task 2: Fill or replace missing values in a DataFrame.

In [ ]:
# (1 point) Filling missing values with a specified value (use '0').

Question 7: Aggregation and Grouping

Task: Group data in a DataFrame by a specific column and then calculate summary statistics for each group.

In [ ]:
# Add two more rows in the above dataframe
"""
first row:
Name: Jack, Age: 25, Monthly Salary: 55000
second row:
Name: Jill, Age: 30, Monthly Salary: 60000
"""
# Group by 'Age' and calculate the  mean 'Monthly Salary'

Question 8: Merging and Joining

Task: Merge two DataFrames based on a common column.

In [ ]:
import pandas as pd
# Create two DataFrames with at least one common column
data1 = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
data2 = {'Name': ['Alice', 'Bob', 'Charlie'], 'City': ['New York', 'Los Angeles', 'Chicago']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# Merge the DataFrames based on the 'Name' column
merged_df =
print(merged_df)

Question 9: Data Sorting

Task: Sort a DataFrame by one or more columns.

In [ ]:
# Sorting by 'Age' in ascending order



# Sort by 'Age' in descending order

Question 10: Exporting Data

Task: Save a DataFrame to a CSV file.File name should be output.csv.

In [ ]:
# Save the DataFrame to 'output.csv' file
df.to_csv('---------------', index=False)
print("DataFrame saved to 'output.csv'")