In [ ]:
# review: comment
print("Hello") # this is the code. line of code. statement.

Hello

In [ ]:
# datatypes
# hotels F11
# room types
# int float bool string
# int: 4B
# float: 8B
# bool: True False
# string: "Tom" 'Kelly'

# Two resources: CPU and RAM
# CPU: calculation
# RAM: store data (RAM is not hard drive)

# CPU: 3+4*2 expression
# RAM: variable

# define variables: 2 rules
# 1. letter number _
# 2. start with letter or _ (not start with number)

# assignment
age1 = 23+1 # one line code. statement. assignment statemnet.
# =
# 2
# step 1: right hand side
# step 2: 24
print(age1) # function (machine) vs function call (press the button)
# print function
# print(...) call ingredients, parameters

# + - * / // % **: arithmetic
# =
r1 = 2**3 # assignment
# r1 is in the RAM
print(r1)

24
8

In [ ]:
# functions
age1 = 20
w1=136.6
g1= 0.966
print(age1,end="\n***\n") #
print(w1,end="###")
print(g1,end="\n")

print(age1,w1,g1) #
# 3 ingredient: 1. water 2. sugar 3. flour
str1 =f"The age is\t\t {age1}.\n The weight is {w1:.4f}.\n The grade is {g1:.2%}" # format
print(str1)

20
***
136.6###0.966
20 136.6 0.966
The age is		 20.
 The weight is 136.6000.
 The grade is 96.60%

In [ ]:
#
str1 = "T\no\tm" # special char, escape squence \n \t

n1 = len(str1)
print(n1)
print(str1)

5
T
o	m

In [ ]:
# input()
# input function
# input()
# string
print("Please input an age: ")
str1 = input() # function call

age1 = int(str1) #

age1 = age1+2 #assignment

str2 = f"After two years, the age will be {age1}"

print(str2)

Please input an age:
10
After two years, the age will be 12

In [ ]:
str2 = "12" # 2B not an integer

In [ ]:
# comparison operators
# < > <= >= == != # result in bool
b1 = 2<3 # True False
print(b1) # ctrl c

True

In [ ]:
b1 = 2<=3 # True False less than or equal to
print(b1) # ctrl v

True

In [ ]:
b1 = 3==3 # True False
print(b1)

True

In [ ]:
b1 = 2!=3 # True False
print(b1)

True

In [ ]:
# conditional statement (if else)

g1 = 86.6 #

print(g1>=90)

if g1>=90:
  print("Cograts!")
  print("You get A!")

print("This is after the if else") # ctrl c
#print("You get A")
#print("You do not get A")

False
This is after the if else

In [ ]:
g1 = 90 #

print(g1>=90)

if g1>=90:
  print("Cograts!")
  print("You get A!")

print("This is after the if else")

True
Cograts!
You get A!
This is after the if else

In [ ]:
g1 = 86.6 #

print(g1>=90)

if g1>=90:
  print("Cograts!")
  print("You get A!")
else:
  print("You need to work hard")
  print("You do not get A.")

print("This is after the if else")

False
You need to work hard
You do not get A.
This is after the if else

In [ ]:
g1 = 86.6 #

print(g1>=90)

if g1>=90:
  print("Cograts!")
  print("You get A!")
elif g1>=80:
  print("B")
elif g1>=70:
  print("C")
else:
  print("You need to work hard")
  print("You do not get A.")

print("This is after the if else")

False
B
This is after the if else

In [ ]:
# list
# grade
# float
g1 = 96.6
g2 = 86.6

#
l1 = [ 86.6, 90.6, 80, 70 ]#