In [ ]:
print("Hello Anly 2500 Python Programming") # ctrl s to save the code

Hello Anly 2500 Python Programming

In [ ]:
# code
# comment
# what is programming (language)?
# language: be understood by the computer
# command to the computer and the computer can understand it. execute them.

# many programming languages: Python, C#, C/C++, Java, JavaScript
# Python is very popular in data science
# one line of code
# after is not code. comment.
# By far, we only one line of code.

In [ ]:
print("Second line of code") # print function, print() is a function call
# a function is a machine. Coffee maker is a function
# a function call. press the button on the coffee maker.
print("This is the third line") # paramters (ingredients)

Second line of code
This is the third line

In [ ]:
# F11 3 lines of codes
# Two resources: CPU and RAM (computer memory)
# CPU: to the calculation for us
# RAM: to store the data

In [ ]:
#two resources: CPU and RAM
# CPU: expressions
# RAM: variables
print(3*6) #3*6 an expression
print(100+2-3) # 100+2-3 is an expression, expression to be excecuted by CPU

18
99

In [ ]:
# variables and assignment operator
age1 = 20 # very important line of code
# varaible is called age1
# = is called assignement operator. = helps us to store data into the Computer RAM
# 20
# age1: left hand side
# =
# right hand side
# two steps:
# step 1: execute the right hand side
# step 2: store or put the right hand side (20) into RAM
#

In [ ]:
# more about assginment
r1 = 2+3-9 # = assignment operator
# assignment (statement)
# two steps: right hand side
# store the result from the right hand side into the variable on the left hand side
# 2+3-9: expression, CPU execute the expression
print(r1)

-4

In [ ]:
# datatypes and variable naming rules
# 2 rules: letters numbers _ Start with letter or _ Do not start a variable with numbers
age1= 20
age2=19
age_3=21
_age2=22

#2age = 23

print(_age2)

# datatypes: hotel, public storage place
# room types in the hotel: make better use of the resources
# int: 0 1 2 -2 -9, 4B
# float: 128.8 26.6, 8B
# bool: True or False
# string: "I like python"

w1 = 128.8
print(w1)

22
128.8

In [1]:
# bool string
# bool : True False
isA = True
print(isA)

True

In [3]:
# string:a pair of '' "" ''' ''' """ """
age1 = 20

name1= "Dave" # "" Dave is the string value "" is not included
name2='Tom'

print(name1)
print(name2)

Dave
Tom

In [13]:
# arithmetic operators
# + - * / ** // %
r1 = 2+3-4*2 # assignment
# 2+3-4*2 expression CPU
print(r1)

# ** raise power
r2 = 3**4 # 3*3*3*3
print(r2)

# // get the integer part
r3 = 17/3
print(r3)

r4 = 17//3
print(r4)

# % reminder
r5 = 17%3
print(r5)

-3
81
5.666666666666667
5
2

In [18]:
# variables & id() type()

v1 = 2*3-6+2
print(v1) # int
# some space in the RAM

v2 = 2.3/2
print(v2) # float

# id() : it will produce the address on the card
print( id(v1)  )
print( id(v2) )# the address in the RAM is a positive number

# type() : get the datatype (room type) of a variable

print( type(v1)  )
print( type(v2) )

2
1.15
138425825362192
138425529578352
<class 'int'>
<class 'float'>

In [21]:
# q1: Suppose the store sells an Apple iPhone (4GB, 128GB) for $900. Store this information in the variables price, brand, ram, and storage.
# paste: ctrl v
price = 900
print(900)

print( type(price) )
print( id(price) )

brand = "Apple iPhone"
print( type(brand) )
print( id(brand) )

900
<class 'int'>
138424544296368
<class 'str'>
138424542654768

In [22]:
ram = 4.0 #
print(ram)
print(type(ram))

4.0
<class 'float'>

In [23]:
storage = 128
print(storage)
print(  type(storage)  )

128
<class 'int'>

In [25]:
# Q2: Q2: Letâ€™s assume the store wants to save the billing status of the aforementioned iPhone in a boolean variable. Write Python code to implement this.
# ctrl v to paste what you copied
isBilled = False
print(isBilled)
print( type(isBilled) )
print( id(isBilled) )

False
<class 'bool'>
102127563625472

In [26]:
# Q3: Check the data types of the variables price, brand, ram, and storage

print( type(price) )
print( type(brand) )
print( type(ram) )
print( type(storage) )

<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>

In [29]:
# Q4: Suppose a customer purchases two Apple iPhones (4GB, 128GB) at a price of $900 each. What will be the total amount the customer needs to pay?

print(price)

# way 1
totalAmount = 900*2
print(totalAmount)

# way 2
totalAmount = price*2 # assignment
# step 1 and step 2
print(totalAmount)

900
1800
1800

In [30]:
# Q5: Suppose the store offers a $15 discount on the Apple iPhone (4GB, 128GB), which is originally priced at $900. What will be the iPhone's price after applying the discount?

dPrice = price - 15
print(dPrice)
print( type(dPrice) )

885
<class 'int'>

In [31]:
# Q6: Suppose a customer purchases two Apple iPhones (4GB, 128GB) and pays a total bill of $1800. Write a Python code to determine the price of each Apple iPhone.

totalCost = 1800.0
priceEach = totalCost/2
print(priceEach)

print( type(priceEach) )

900.0
<class 'float'>

In [32]:
# Q7: Suppose a customer purchases a certain number of Apple iPhones (4GB, 128GB) at a price of $900 each. The total amount the customer pays is $3600. Write a Python program to determine the value of n, which represents the number of iPhones purchased.

totalCost = 3600
price=900

n = totalCost/price
print(n)

4.0

In [34]:
# Q8: Suppose the store plans to offer a 4.5% discount on the Apple iPhone. What will the price of the phone be after applying the discount?

price = 900
discoutRate=4.5/100 # 0.045
discount = price*discoutRate
print(discount)

newPrice= price - discount
print(newPrice)

print(type(newPrice))

40.5
859.5
<class 'float'>