In [1]:
print("This is Module 2 Part 2")

This is Module 2 Part 2

In [8]:
# functions
# print()
# print: functin, the machine,
# function call: print() press the button on the machine
print("Line 1",end="")
print("Line 2",end=" ### ")
print("Line 3")
age1 = 23
w1 = 136.6
print(age1)
print(w1)

print("Line1","Line 2",age1,w1) #

Line 1Line 2 ### Line 3
23
136.6
Line1 Line 2 23 136.6

In [9]:
str1 = "Tom"
# len:
# len():
n1 = len(str1)
print(n1)

3

In [113]:
age1 = 23
v1= 23.6

i1 = int(v1)
print(i1)

23

In [115]:
# input()
print("Please input the currrent balance: ",end="")
bal = input() # result int string
bal = float(bal)
print(bal)

bal = bal*1.1
print(bal)

Please input the currrent balance: 1000
1000.0
1100.0

In [10]:
# expressions
r1 = 2*3+6
# assignment
# step 1: right hand side. expression. CPU
# step 2: store the result into left hand side variable
print(r1)

12

In [13]:
# comparsion operators
# bool (boolean)
# True False
b1 = True
print(b1)

# > >= < <= == !=
# expression in bool
b2 = 3<2 # assignment
# step 1: CPU
# step 2: True
print(b2)

True
False

In [15]:
b3 = 3>=2 # greather than or equal 2
print(b3)

True

In [16]:
# == not space ==
b4 = 2==3# assignment
print(b4)

False

In [17]:
# != not equal to
b5 = 2!=3
print(b5)

True

In [21]:
# data structure
# list
# data types: int float bool string
age1 = 20 # label on the first age value
age2= 23
age3=26
# 30 variable
print(age1)
print(age3)
# where are the varialbes? RAM
# ages for 1000 students
# List

ageList= [20,21,30,26,19] # warehouse
# [20,21,30,26,19] list
print(ageList) # ctrl c

20
26
[20, 21, 30, 26, 19]

In [22]:
# ctrl v
        # terms: index, label, (label or index for the list starts from 0)
        # 0  1  2  3  4
ageList= [20,21,30,26,19] # warehouse
# [20,21,30,26,19] list
print(ageList)
# labels: for list: by default

[20, 21, 30, 26, 19]

In [23]:
# indexing
item = ageList[0] #
print(item)

20

In [24]:
# indexing: get single item
# slice: multiple elements from the list. sub list.
        # 0  1  2  3  4
ageList= [20,21,30,26,19]
print(ageList)

[20, 21, 30, 26, 19]

In [27]:
# indexing
item  = ageList[3]
print(item)

26

In [29]:
# indexing
item  = ageList[4] # to get the last item
print(item)

19

In [32]:
# indexing  -3 -2 -1
item  = ageList[-2] # to get the last item
print(item)

26

In [35]:
# slicing: sub list
        # 0  1  2  3  4
ageList= [20,21,30,26,19]

slice = ageList[0:3] # 0 included 2 not included
print(slice)

[20, 21, 30]

In [37]:
# slicing: sub list
        # 0  1  2  3  4
ageList= [20,21,30,26,19]

slice = ageList[0:-1] # 0 included 2 not included
print(slice)

[20, 21, 30, 26]

In [38]:
# slicing: sub list
        # 0  1  2  3  4
ageList= [20,21,30,26,19]

slice = ageList[:] # all
print(slice)

[20, 21, 30, 26, 19]

In [41]:
# slicing: sub list
        # 0  1  2  3  4
ageList= [20,21,30,26,19]

slice = ageList[0:4:2] #
print(slice)

[20, 30]

In [42]:
# slicing: sub list
        # 0  1  2  3  4
ageList= [20,21,30,26,19]

slice = ageList[::2] #
print(slice)

[20, 30, 19]

In [44]:
# slicing: sub list
        # 0  1  2  3  4
ageList= [20,21,30,26,19]

slice = ageList[4:0:-1] #
print(slice)

[19, 26, 30, 21]

In [46]:
        # 0  1  2  3  4
ageList= [20,21,30,26,19]
# change items
item = ageList[1]
print(item)

ageList[1] = 23

print(ageList)

21
[20, 23, 30, 26, 19]

In [47]:
l1 = [20,23]
l2 = [26,30]

l3 = l1+l2 # combine
print(l3)

[20, 23, 26, 30]

In [48]:
l4 = l1*3 #
print(l4)

[20, 23, 20, 23, 20, 23]

In [51]:
nameList=["Tom","Jack","Kelly","Kate"]
print(nameList)

# in , not in result in bool
b1 = "Tom" not in nameList
print(b1)

['Tom', 'Jack', 'Kelly', 'Kate']
False

In [58]:
        # 0  1  2  3  4
ageList= [20,21,30,26,19]
nameList=["Tom","Jack","Kelly","Kate"]

# terms: methods functions
#
print(ageList)
i1 = ageList.index(30) # belongs to
print(i1)

# append()
ageList.append(32)
print(ageList)

n1 = len(ageList)
print(n1)

# insert(pos,newItem)
ageList.insert(2,23)
print(ageList)

ageList.sort(reverse=True)
print(ageList)

[20, 21, 30, 26, 19]
2
[20, 21, 30, 26, 19, 32]
6
[20, 21, 23, 30, 26, 19, 32]
[32, 30, 26, 23, 21, 20, 19]

In [61]:
nameList=["Tom","Jack","Kelly","Kate"]
print(nameList)

nameList.reverse()
print(nameList)

['Tom', 'Jack', 'Kelly', 'Kate']
['Kate', 'Kelly', 'Jack', 'Tom']

In [63]:
nameList=["Tom","Jack","Kelly","Kate"]
print(nameList)

# pop()
nameList.pop()
print(nameList)

['Tom', 'Jack', 'Kelly', 'Kate']
['Tom', 'Jack', 'Kelly']

In [64]:
nameList=["Tom","Jack","Kelly","Kate"]
print(nameList)

# pop()
nameList.remove("Jack")
print(nameList)

['Tom', 'Jack', 'Kelly', 'Kate']
['Tom', 'Kelly', 'Kate']

In [65]:
        # 0  1  2  3  4
ageList= [20,21,30,26,19]
#
maxAge = max(ageList)
print(maxAge)

30

In [66]:
        # 0  1  2  3  4
ageList= [20,21,30,26,19]
#
minAge = min(ageList)
print(minAge)

19

In [69]:
# dictionary
    # 0  1    2
l1= [20,"Tom",136.6]
print(l1[0])
print(l1[1])

20
Tom

In [70]:
stu1d= { "age":20, "name":"Tom","weight":136.6  }
print(stu1d)

{'age': 20, 'name': 'Tom', 'weight': 136.6}

In [71]:
item = stu1d["age"]
print(item)

20

In [72]:
item = stu1d["name"]
print(item)

Tom

In [74]:
# keys() value()
labels= stu1d.keys() # label key index
labels = list(labels)
print(labels)

['age', 'name', 'weight']

In [77]:
values = stu1d.values()
values= list(values)
print(values)

[20, 'Tom', 136.6]

In [79]:
# tuples
# tuple vs list: you could not change the value in a tuple after you created a tuple
t1 = (20,21,30,26,19)
print(t1)

item = t1[1]
print(item)

(20, 21, 30, 26, 19)
21

In [80]:
t1[1] = 22 # could not modify the value in the tuple

TypeError: 'tuple' object does not support item assignment

In [81]:
n1 = len(t1)
print(n1)

5

In [82]:
# if else conditional statement
g1 = 86.6
print("You get A")
print("You do not get A")

You get A
You do not get A

In [84]:
g1 = 86.6
if g1>=90:
  print("A")

print("After the if else")

After the if else

In [85]:
g1 = 86.6
if g1>=90:
  print("A")
else:
  print("Not A")
print("After the if else")

Not A
After the if else

In [86]:
g1 = 86.6
if g1>=90:
  print("A")
  print("congrats!")
elif g1>=80:
  print("B")
  print("Hello")
elif g1>=70:
  print("C")
else:
  print("NOT ABC")

print("After the if else")

B
Hello
After the if else

In [88]:
# loop
# for loop
nameList=["Tom","Jack","Kelly","Kate"]
for item in nameList:
  print("Hello")
  print(item)
  print("")

Hello
Tom

Hello
Jack

Hello
Kelly

Hello
Kate

In [92]:
# range()
r1 = range(0,20,1) # 0 included 20 not included step 2

l1 = list(r1)

print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [93]:
for v in l1:
  print(v)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [94]:
print(nameList)

['Tom', 'Jack', 'Kelly', 'Kate']

In [95]:
i =0
while i<4:
  print(nameList[i])
  i = i+1 #

Tom
Jack
Kelly
Kate

In [96]:
# strings
str1 = "This is ANLY 2500" # '' """  """  '''  '''
print(str1)

This is ANLY 2500

In [100]:
str2 = "T\no\tm" # \n special char, escape sequence \t tab
print(str2)

n1 = len(str2)
print(n1)

T
o	m
5

In [101]:
print(str1)

This is ANLY 2500

In [102]:
str3 = str1.upper()
print(str3)

THIS IS ANLY 2500

In [103]:
age1 = 20
w1= 136.6
g1 = 0.96

In [109]:
str4= f"Age is {age1}\nWeight is {w1:.3f}\nGrade is {g1:.2%}"# format
print(str4)

Age is 20
Weight is 136.600
Grade is 96.00%

In [112]:
print(str1)
b1 = str1.startswith("This")
print(b1)

This is ANLY 2500
True

In [116]:
# List practice
# Q1
brand_list = ["Apple","Samsung","LG","Apple"]
print(brand_list)

['Apple', 'Samsung', 'LG', 'Apple']

In [117]:
# Q2
ram_list=[4,12,8,8]
price_list=[900,899,600,1000]
memory_list=[128,64,128,128]
print(ram_list)
print(price_list)
print(memory_list)

[4, 12, 8, 8]
[900, 899, 600, 1000]
[128, 64, 128, 128]

In [120]:
# Q3
n1 = len(brand_list)
str1= f"There are {n1} brands in the brand list"
print(str1)

There are 4 brands in the brand list

In [127]:
# Q4:
maxPrice = max(price_list)
minPrice =min(price_list)
str1 = f"The maximum price is ${maxPrice:.2f}" #f: fixed digits after the decimal point
print(str1)

str2= f"The minimum price is ${minPrice:.3f}"
print(str2)

The maximum price is $1000.00
The minimum price is $600.000

In [130]:
# Q5:
# 0 1 2 3
ram = ram_list[2] #
str1 = f"The third RAM is {ram} GB"
print(str1)

The third RAM is 8 GB

In [132]:
# Q6
l1 = price_list[0:3]
str1 = f"The first three items in the price list is {l1}"
print(str1)

The first three items in the price list is [900, 899, 600]

In [136]:
# Q7
#item = brand_list[3]
item = brand_list[-1]
str1 = f"The last brand is : {item}"

print(str1)

The last brand is : Apple

In [139]:
# Q8
brand_list = ["Apple","Samsung","LG","Apple"]
brand_list.pop()
str1 = f"After we removed the last item, the new brand list is: {brand_list}"
print(str1)

After we removed the last item, the new brand list is: ['Apple', 'Samsung', 'LG']

In [140]:
# Q9
brand_list.append("Motorola")
str1 = f"After we add one item, the brand list is: {brand_list}"
print(str1)

After we add one item, the brand list is: ['Apple', 'Samsung', 'LG', 'Motorola']

In [142]:
# tuple
#Q1
storage= (32,64,128,256)
str1 = f"The tuple is: {storage}"
print(str1)

The tuple is: (32, 64, 128, 256)

In [143]:
#Q2
item = storage[1]
str1 = f"The second item in the tuple is: {item}"
print(str1)

The second item in the tuple is: 64

In [144]:
# Q3
storage[1] = 60 # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [146]:
# dictionary
# Q1
d1 = {"Brand":"Apple","Price":800,"RAM":4,"Storage":128 }

str1 = f"The dictionary is : {d1}"

print(str1)

The dictionary is : {'Brand': 'Apple', 'Price': 800, 'RAM': 4, 'Storage': 128}

In [148]:
# Q2
price = d1["Price"]

str1 = f"The price is ${price}"

print(str1)

The price is $800

In [149]:
# Q3:
d1["Price"] = 900

str1 = f"The new price is ${d1['Price']}"
print(str1)

The new price is $900

In [150]:
#Q4
products={
    "brand":brand_list,
    "price":price_list,
    "ram":ram_list,
    "storage":memory_list
}
print(products)

{'brand': ['Apple', 'Samsung', 'LG', 'Motorola'], 'price': [900, 899, 600, 1000], 'ram': [4, 12, 8, 8], 'storage': [128, 64, 128, 128]}

In [152]:
# Q5
labels = products.keys()

labels = list(labels)

print(labels)

['brand', 'price', 'ram', 'storage']

In [154]:
values=products.values()

values=list(values)

print(values)

[['Apple', 'Samsung', 'LG', 'Motorola'], [900, 899, 600, 1000], [4, 12, 8, 8], [128, 64, 128, 128]]

In [157]:
# if else
# Q1
# 900
budget = 600
if budget>=900:
  print("You can buy the Apple iPhone.")
  print("You have enought budget!")
else:
  print("Sorry!")
  print("You do not have enough budget!")

Sorry!
You do not have enough budget!

In [163]:
# Q2
print("Please input the internal storage size (32, 64, or 128): ")
ssize = input() # string
ssize = int(ssize)

if ssize==32:
  price=600
  print(f"The price is ${price:.2f}")
elif ssize ==64:
  price=700
  print(f"The price is ${price:.2f}")
elif ssize==128:
  price=900
  print(f"The price is ${price:.2f}")
else:
  print(f"No price for this internal storage size {ssize} GB")

Please input the internal storage size (32, 64, or 128):
256
No price for this internal storage size 256 GB

In [165]:
# Loop
# for loop
discount_list=[0.05, 0.1, 0.15,0.2]

In [170]:
# for loop
price = 900
for discount in discount_list:
  newPrice=price- price*discount
  print(f"After {discount:.2%} discount, the new price is: ${newPrice:.2f}")

After 5.00% discount, the new price is: $855.00
After 10.00% discount, the new price is: $810.00
After 15.00% discount, the new price is: $765.00
After 20.00% discount, the new price is: $720.00

In [172]:
# while loop
i = 0
price=900
while i<=3:
  discount=discount_list[i]
  newPrice=price-price*discount
  print(f"After {discount:.2%} discount, the new price is: ${newPrice:.2f}")
  i=i+1

After 5.00% discount, the new price is: $855.00
After 10.00% discount, the new price is: $810.00
After 15.00% discount, the new price is: $765.00
After 20.00% discount, the new price is: $720.00